/*import fonts from font.css*/

@import url('./font.css');

body {
    font-family: 'Segoe UI Regular', sans-serif;
    /* font-family: 'Segoe UI Italic';
    font-family: 'Segoe UI Bold'; 
    font-family: 'Segoe UI Bold Italic'; */
    font-weight: normal;
}

.home-main-section {
    background: green;
    width: 100%;
    height: 100vh;
    display: flex;

    position: relative;
}

.img-wrapper img {
    max-height: 100%;
    position: absolute;

    bottom: 0;
    right: 0;
    transform: translateX(-5%);
}